[submodule "pallets/trust"]
	path = pallets/trust
	url = git@github.com:fennelLabs/fennel_trust_pallet.git
[submodule "pallets/keystore"]
	path = pallets/keystore
	url = git@github.com:fennelLabs/fennel_keystore_pallet.git
